# Created by .ignore support plugin (hsz.mobi)
.idea/dataSources/
SAT_Website/SAT_Website/__pycache__/
SAT_Website/__pycache__/
SAT_Website/schedule/__pycache__/
SAT_Website/webapp/ModelTraining/__pycache__/
SAT_Website/webapp/ModelTraining/machinegym/__pycache__/
SAT_Website/webapp/__pycache__/
SAT_Website/webapp/migrations/__pycache__/
interpreter/
dataSources/
.idea/