{% extends "base.html" %}
{% block content %}

    <div class="jumbotron d-flex align-items-center">
        <div class="container text-center">
            <img src="https://drive.google.com/uc?id=1O0H136eIrJTTsaz0FW76rF3_oX7RVa6d" class="rounder mx-auto d-block" style="width:750px;height:525rpx;"
                 alt="Aerial photo of FSU! Go noles!">
        </div>
        <div class="container" style="">
            <p style="font-size: 14pt; text-align: justify;">We are students at Florida State University: Oscar Kosar-Kosarewicz, Jacob Wharton, and Andre Guiraud.
                Our web app uses a machine learning algorithm to discover how people feel about certain topics on the
                internet, or more specifically, #hashtags on Twitter.</p>
        </div>
    </div>

{% endblock content %}