<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Sentiment Analysis for Twitter</title>
    <style>
        p.padded {
            padding:.3em .5em .1em 2em;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'new_search' %}">Search database</a>
            </li>
        </ul>
    </div>
    </nav>
    <br>
    <div>
    {% block content %}
    {% endblock content %}
    </div>
</body>
</html>