{% extends "base.html" %}
{% block content %}
<p>Sorry, we don't have that information <em><strong>yet.</strong></em></p>
<p>Enter your information to be notified when it is available:</p>
<div>
<form method="post" action="">
    {% csrf_token %}
        <p>Name: <input type="text" name="n" id="id_n" value="{{ query }}" required/></p>
        <p>Email: <input type="email" name="e" id="id_e" value="{{ query }}" required/></p>
    <input type="submit" value="Submit" />
</form>

</div>
    <br>
<p><strong>{{ text }}</strong></p>
{% endblock content %}