{% extends "base.html" %}
{% block content %}
    <div>
<p class="text-left">&ensp;Sorry, we don't have that information <em><strong>yet.</strong></em></p>
<p>&ensp;Enter your information to be notified when it is available:</p>
        </div>
<form method="post" action="">
  <div class="form-group">

    <div class="col-sm-3">
        <label for="id_n">Name</label>
            <input type="text" class="form-control" name="n" id="id_n" value="{{ query }}" placeholder="Enter name" required>
    </div>
  </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label for="id_e">Email address</label>
                <input type="email" name="e" class="form-control" id="id_e" value="{{ query }}" placeholder="Enter email" required>
        </div>
  </div>
    <div class="col-sm-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

    <br>
&ensp;<strong>{{ text }}</strong>
{% endblock content %}